p.directions:hover {
    color: honeydew;
    background-color: green;
}
#direction{
  color: red;  
}
h3{
    color: black;
    font-size: large;
}
h6{
    color: black;
    font-size: larger;
}

p{
    color: black;
    font-size: medium;
}
.charname1{
    color: brown;
   
      
}
.charname1:hover{
    text-shadow: 3px 3px black;
}
.charname2{
    color: cyan;
    
}
.charname2:hover{
    text-shadow: 3px 3px orange;
}
.charname3{
    color: darkorange;
    
}
.charname3:hover{
    text-shadow:3px 3px black;
}
table{
    text-align: center;
    border: 1.5px solid rgb(12, 1, 1);
    color: black;
    margin: 20px;
    
  }
   
  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
  }
  thead,tr,td{
    border: 1px solid black;
    padding:5px;
  }